# Release process
#
# Bump version in Cargo.toml, and create a corresponding git tag for it
# Once pushed, CI makes a docker image for the same version

pre-release-commit-message = "bump v{{version}}"
push = false
publish = false
tag = true
tag-name = "v{{version}}"
sign-tag = true
sign-commit = true
enable-all-features = true
pre-release-replacements = [
  { file = "README.md", search = "Current release: [a-z0-9\\.-]+", replace = "Current release: v{{version}}" },
]
pre-release-hook = [
  "git",
  "cliff",
  "-o",
  "CHANGELOG.md",
  "--tag",
  "{{version}}",
]

# Ref: https://github.com/crate-ci/cargo-release/blob/master/docs/reference.md
