name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Run cargo fmt
        run: |
          cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          override: true
          components: clippy
      - name: Run cargo clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      CONSUMER_KEY: ${{ secrets.CLIENT_KEY }}
      CONSUMER_SECRET: ${{ secrets.CLIENT_SECRET }}
    steps:
      - uses: actions/checkout@v4
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable

      - name: cargo generate-lockfile
        if: hashFiles('**/Cargo.lock') == ''
        run: |
          cargo generate-lockfile

      - name: Run cargo test
        run: |
          cargo test --no-fail-fast --locked --all-features --all-targets

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    env:
      CONSUMER_KEY: ${{ secrets.CLIENT_KEY }}
      CONSUMER_SECRET: ${{ secrets.CLIENT_SECRET }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          args: "--ignore-tests --no-fail-fast"
          version: "0.22.0"
