name: Release Docs

on:
  release:
    types: [published, edited]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  sync-cargo-docs:
    name: Sync cargo docs to gh-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Sync Docs
        run: |
          cargo doc
          pip install ghp-import
          echo '<meta http-equiv=refresh content=0;url=mpesa/index.html>' > target/doc/index.html
          ghp-import -n target/doc
          git push -qf https://github.com/tralahm/mpesa-rust.git gh-pages
